<form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text"
             placeholder="Filter by animal"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <button>{{markerService.nameToFilterBy}}</button>
    </mat-form-field>
  </form>