<head>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <div style="text-align: center;">
        <div style="display: inline-block;">
            <google-chart title="Animals Reported" type="PieChart" [data]="animalNamesData" height="700" width="700"></google-chart>
        </div>
        <div style="display: inline-block;">
            <google-chart title="Users" type="PieChart" [data]="usersStateData" height="700" width="700"></google-chart>
        </div>
        <div style="display: inline-block;">
            <google-chart title="Top 5 Reporters" type="ColumnChart" [data]="topReportersData" vAxis="{format: '0'}" height="700" width="700"></google-chart>
        </div>
    </div>
</body>