<!DOCTYPE html>
<head>
</head>
<body>
    <div *ngIf="type==InfoWindowType.DISPLAY">
        <h1>{{animal}}</h1>
        <div>
            {{description}}<br>
            Reported by: {{reporter}}<br>
        </div>
        <button (click)="delete()">Delete</button>
    </div>
    <div *ngIf="type==InfoWindowType.CREATE">
        <input #animal placeholder="Animal"><br>
        <input #description placeholder="Description"><br>
        <input #reporter placeholder="Reporter's Name"><br>
        <button (click)="submit(animal.value, description.value, reporter.value)">Submit</button>
    </div>
</body>
